body {
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff
}

h1{
    font-size: 46px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: rgb(79, 110, 106);
    font-weight: bold;
}

#chartDHT, #chartTemp, #chartHum {
    background-color: #ffffff;
    width: 100%;
}

#value {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    font-size: 30px
}
#signature {
    background-color: #fff;
    width: 10%;
    height: 11.5%;
    position: absolute;
    right: 5px;
    text-align: center;
    color: #fff;
}
.fade-out {
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
}
  
.fade-in {
    opacity: 1;
    transition: opacity 0.25s ease-in-out;
}
  
  
  



